*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 66.7%;
}
body {
  background: #b6b6b6;
}
.form-container {
  display: flex;
  justify-content: center;
  margin: 4.8rem 0 4.8rem 0;
}
.form {
  border: 1px solid black;
  padding: 0.8rem 1rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  /* background: #fff; */
}
.form:hover,
.form:active {
  border: 1px solid #fff;
}
.input-field {
  background: transparent;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  color: #fff;
  border: none;
  outline: none;
}

.btn {
  padding: 0.5rem 2rem;
  background: #fff;
  border-radius: 25px;
  transition: all 1s;
  border: 1px solid black;
  color: black;
  /* transition: all 0.3s; */
}
.btn:hover,
.btn:active {
  background: #b6b6b6;
  color: #fff;
  border: 1px solid #fff;
}
.image-container {
  margin: 0 auto;
  padding: 1rem;
  width: 80vw;
  background: #f8f8f8;
  border-radius: 20px;
}
.images {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  border-radius: 10px;
  overflow: hidden;
}
.image-box {
  /* border: 1px solid red; */
  flex: 1 0 30%;
}
.image {
  height: 20rem;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s;
}
.image:hover {
  transform: scale(1.3);
}
